<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.netfilx-bg-img {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/e89c9679-2f5f-491d-924c-c58924a8ee4b/8ec27a1d-02ce-4489-b320-a95106906f5d/IN-en-20221121-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.netfilx-bg-img img {
  width: 180px;
}
.signin-btn {
  border: 0;
  cursor: pointer;
  fill: currentColor;
  width: auto;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
}

.lang-btn {
  cursor: pointer;
  fill: currentColor;
  width: auto;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid white;
  background: none;
  color: rgb(255, 255, 255);
}
.drop-down {
  min-width: 110px;
  text-align: center;
  padding: 0;
}
.drop-down-item-hover:hover {
  background-color: #0d6efd;
  border-radius: 0.25rem;
  color: white;
}
.netfilx-title {
  max-width: 520px;
}
.netflix-title-size {
  font-size: 49px;
}
.netfilex-title-email {
  width: 100%;
}
.netfilx-title-getstarted-btn {
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(229, 9, 20);
  color: white;
  text-align: center;
  border: none;
  font-weight: bolder;
}
.css-dra {
  background-image: linear-gradient(#000000ad, #000000ad);
}
.dropdown-toggle::after {
  margin-left: 10px;
}
.netflix-treanding-btn {
  min-width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.netflix-global-btn {
  width: auto;
  background: none;
  color: white;
  font-weight: bold;
}
.netflix-global-btn-icon {
  color: white;
  position: absolute;
  top: 30%;
  left: 77px;
  font-size: 10px;
}
.netflix-movies-btn-icon {
  color: white;
  position: absolute;
  top: 30%;
  left: 350px;
  font-size: 10px;
}

.netflix-top10-image {
  width: 200px;
  height: 300px;
}

.netflix-join-card-text{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 500;
}
.netflix-join-card{
    padding: 24px 16px 135px 16px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}
.netflix-join-card-img{
    /* max-width: 35%; */
    max-height: 80px;
    width: 80px;
    position: absolute;
    bottom: 18px;
}
.collapse-add-btn{
    position: absolute;
    top: 15px;
    right: 10px;
}
.collapse-close-btn{
    transform: rotate(45deg);
}
.netflix-faq-qn{
    background-color: rgb(45 45 45);
}
.netflix-faq-qn:hover{
    background-color: rgb(71, 71, 71);
}
.netflix-faq-ans{
    background-color: rgb(45 45 45);
}
.netflix-membership{
    width: 70%;
    margin: 0 auto;
}
     
  /* .netflix-top10-image-responsive{
        margin-left: 1px;
      }

      @media(max-width: 1199px){
        .netflix-top10-image-responsive{
            margin-left: 25px;
          }
      } */

@media (max-width: 991px) {
  .netflix-title-size {
    font-size: 32px;
  }

  .netfilx-bg-img img {
    width: 100px;
  }
  .netflix-treanding-btn {
    min-width: 100%;
    flex-direction: column;
  }
  .netflix-global-btn {
    width: 100%;
  }
  .netflix-global-btn-icon {
    position: absolute;
    top: 13%;
    left: 95%;
  }
  .netflix-movies-btn-icon {
    top: 70%;
    left: 95%;
    font-size: 10px;
  }
  .wol-stage {
    padding-left: 0px !important;
  }
  .netflix-top10-image {
    width: 175px;
    height: 300px;
  }
  .netflix-membership{
    width: 100%;
    margin: 0;
}
}


@media (max-width: 767px) {
  .netflix-top10-image {
    width: 118px;
    height: 200px;
  }

}

@media (max-width: 500px) {
  .netflix-top10-image {
    width: 170px;
    height: 190px;
  }
  .netfilx-title-getstarted-btn {
    width: 200px;
    height: 50px;
}
}

/* more reason to join responsive section*/

@media (max-width: 1199px) {
    .netflix-join-card{
        padding: 24px 16px 90px 16px;
    }
  }
  @media (max-width: 991px) {
    .netflix-join-card{
        padding: 24px 16px 96px 16px;
    }
  }
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.netfilx-bg-img {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/e89c9679-2f5f-491d-924c-c58924a8ee4b/8ec27a1d-02ce-4489-b320-a95106906f5d/IN-en-20221121-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.netfilx-bg-img img {
  width: 180px;
}
.signin-btn {
  border: 0;
  cursor: pointer;
  fill: currentColor;
  width: auto;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
}

.lang-btn {
  cursor: pointer;
  fill: currentColor;
  width: auto;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid white;
  background: none;
  color: rgb(255, 255, 255);
}
.drop-down {
  min-width: 110px;
  text-align: center;
  padding: 0;
}
.drop-down-item-hover:hover {
  background-color: #0d6efd;
  border-radius: 0.25rem;
  color: white;
}
.netfilx-title {
  max-width: 520px;
}
.netflix-title-size {
  font-size: 49px;
}
.netfilex-title-email {
  width: 100%;
}
.netfilx-title-getstarted-btn {
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(229, 9, 20);
  color: white;
  text-align: center;
  border: none;
  font-weight: bolder;
}
.css-dra {
  background-image: linear-gradient(#000000ad, #000000ad);
}
.dropdown-toggle::after {
  margin-left: 10px;
}
.netflix-treanding-btn {
  min-width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.netflix-global-btn {
  width: auto;
  background: none;
  color: white;
  font-weight: bold;
}
.netflix-global-btn-icon {
  color: white;
  position: absolute;
  top: 30%;
  left: 77px;
  font-size: 10px;
}
.netflix-movies-btn-icon {
  color: white;
  position: absolute;
  top: 30%;
  left: 350px;
  font-size: 10px;
}

.netflix-top10-image {
  width: 200px;
  height: 300px;
}

.netflix-join-card-text{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 500;
}
.netflix-join-card{
    padding: 24px 16px 135px 16px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}
.netflix-join-card-img{
    /* max-width: 35%; */
    max-height: 80px;
    width: 80px;
    position: absolute;
    bottom: 18px;
}
.collapse-add-btn{
    position: absolute;
    top: 15px;
    right: 10px;
}
.collapse-close-btn{
    transform: rotate(45deg);
}
.netflix-faq-qn{
    background-color: rgb(45 45 45);
}
.netflix-faq-qn:hover{
    background-color: rgb(71, 71, 71);
}
.netflix-faq-ans{
    background-color: rgb(45 45 45);
}
.netflix-membership{
    width: 70%;
    margin: 0 auto;
}
     
  /* .netflix-top10-image-responsive{
        margin-left: 1px;
      }

      @media(max-width: 1199px){
        .netflix-top10-image-responsive{
            margin-left: 25px;
          }
      } */

@media (max-width: 991px) {
  .netflix-title-size {
    font-size: 32px;
  }

  .netfilx-bg-img img {
    width: 100px;
  }
  .netflix-treanding-btn {
    min-width: 100%;
    flex-direction: column;
  }
  .netflix-global-btn {
    width: 100%;
  }
  .netflix-global-btn-icon {
    position: absolute;
    top: 13%;
    left: 95%;
  }
  .netflix-movies-btn-icon {
    top: 70%;
    left: 95%;
    font-size: 10px;
  }
  .wol-stage {
    padding-left: 0px !important;
  }
  .netflix-top10-image {
    width: 175px;
    height: 300px;
  }
  .netflix-membership{
    width: 100%;
    margin: 0;
}
}


@media (max-width: 767px) {
  .netflix-top10-image {
    width: 118px;
    height: 200px;
  }

}

@media (max-width: 500px) {
  .netflix-top10-image {
    width: 170px;
    height: 190px;
  }
  .netfilx-title-getstarted-btn {
    width: 200px;
    height: 50px;
}
}

/* more reason to join responsive section*/

@media (max-width: 1199px) {
    .netflix-join-card{
        padding: 24px 16px 90px 16px;
    }
  }
  @media (max-width: 991px) {
    .netflix-join-card{
        padding: 24px 16px 96px 16px;
    }
  }
>>>>>>> dda5bae6b5daf85d9e217ea7451c6818b6c7a84b
