<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.projects{
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* border: 1px solid red; */
}
.projects h1{
    margin-top: 40px;
}
.pro-name{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.pro-name div{
    width: 300px;
    height: 50vh;
    border-radius: 10px;
    background-color: #262626;
    /* padding:20px 40px 20px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: relative;
    /* border: 1px solid red; */

    transition: 0.5s;
    transition: transform 0.5s;
}
.pro-name div img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.pro-name div i{
    font-size: 30px;
    background-color: #262626;
    padding-left:20px;
}
.pro-name div p:nth-of-type(1){
    font-size: 28px;
    background-color: #262626;
    font-weight: bold;
    padding-left:20px;
}
.pro-name div p:nth-of-type(2){
    font-size: 12px;
    background-color: #262626;
    padding-left:20px;
}
.pro-name div a{
    width: 100px;
    text-align: center;
    color:#2e2e2e;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    margin-left:20px;
    opacity: 1;
    position: absolute;
    left: 0;
    bottom: 7px;
}
.pro-name div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}
.pro-name div:hover p,.pro-namea{
    background: #ff004f;
}
.pro-name div:hover i{
    background: #ff004f;
}
.pro-name div a:hover{
    background-color: #000;
    color: #fff;
}
.pro-name div a:active{
    border: 1px solid white;
}

@media(max-width: 900px){
    .pro-name div a{
        bottom: 4px;
        }
    .pro-name{
        width: 100%;
    }
}

@media(max-width: 700px){
    .projects h1{
    margin-top: 35px;
}
}

/* @media(min-width: 900px) and (max-width: 940px){
    .projects h1{
        margin-top: 50px;
    }
    
} */

=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.projects{
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* border: 1px solid red; */
}
.projects h1{
    margin-top: 40px;
}
.pro-name{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.pro-name div{
    width: 300px;
    height: 50vh;
    border-radius: 10px;
    background-color: #262626;
    /* padding:20px 40px 20px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: relative;
    /* border: 1px solid red; */

    transition: 0.5s;
    transition: transform 0.5s;
}
.pro-name div img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.pro-name div i{
    font-size: 30px;
    background-color: #262626;
    padding-left:20px;
}
.pro-name div p:nth-of-type(1){
    font-size: 28px;
    background-color: #262626;
    font-weight: bold;
    padding-left:20px;
}
.pro-name div p:nth-of-type(2){
    font-size: 12px;
    background-color: #262626;
    padding-left:20px;
}
.pro-name div a{
    width: 60px;
    text-align: center;
    color:#2e2e2e;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    margin-left:20px;
    opacity: 1;
    position: absolute;
    left: 0;
    bottom: 7px;
}
.pro-name div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}
.pro-name div:hover p,.pro-namea{
    background: #ff004f;
}
.pro-name div:hover i{
    background: #ff004f;
}
.pro-name div a:hover{
    background-color: #000;
    color: #fff;
}
.pro-name div a:active{
    border: 1px solid white;
}

@media(max-width: 900px){
    .pro-name div a{
        bottom: 4px;
        }
    .pro-name{
        width: 100%;
    }
}

@media(max-width: 700px){
    .projects h1{
    margin-top: 35px;
}
}

/* @media(min-width: 900px) and (max-width: 940px){
    .projects h1{
        margin-top: 50px;
    }
    
} */

>>>>>>> dda5bae6b5daf85d9e217ea7451c6818b6c7a84b
